* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.header{
    height: 3.13em;
    width: 100%;
    border-bottom: 0.06em solid #b2b2b2;
    border-color: #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.logo{
    margin-left: 8.75em;
}

.logo img{
    height: 1.56em;
    width: auto;
}

@font-face {
    font-family: 'GeekbleMalang2WOFF2';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

p{
    font-family: 'GeekbleMalang2WOFF2', sans-serif;
    font-size: 1.5em;
    margin: 0.63em 0em;

}

.start{
    padding-top: 9.38em;
    margin-left: 10.63em;
}

.start img{
    height: 3.75em;
}

.start button{
    border-radius: 0.63em;
    background-color: #48B3FF;
    border: none;
    color: #fff;
    height: 2.19em;
    width: 9.38em;
    font-size: 1.25em;
    font-weight: 500;
}

.BG{
    background-image: url("src/assets/StartBG.svg");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.BG.blur {
    z-index: -1;
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;    
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.25em;
    padding: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
    z-index: 1000;
}

.Teacher, .Student {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.Teacher img, .Student img {
    height: 20em;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    border: 0.06em solid #b2b2b2;
    border-bottom: none;
}

.TeacherB, .StudentB {
    background-color: #48B3FF;
    color: white;
    border: 0.06em solid #b2b2b2;
    border-top: none;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    height: 11em;
    width: 40.2em;
    font-size: 0.7em;
    font-family: 'GeekbleMalang2WOFF2', sans-serif;
}